html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100svh;
    min-height: -webkit-fill-available;
    margin: 0px;
    font-family: sans-serif;
    background-color: #d9d7fc;
}

#superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #521761;
    color: white;
    padding: 10vh 0;
}
#titulo{
    font-size: 40px;
    text-align: center;
    margin-bottom: 100vh;
}

.seccio {
    flex: 1;
    display: none;
}

#seccio_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
}

#menu {
    height: 4vmax;
}
#menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 5vmax;
}
#menu i{
    font-size: 4vmax;
    color: white;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;

}

