#superior {
    display: flex;
    height: 7vmax;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
    color: rgb(241, 241, 241);
    background-color: #521761;
    font-family: sans-serif;
}

/* Botonera debajo del título */
#botonera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vmax;
    background-color: #cba0f7;
}

#botonera button {
    flex: 1;
    font-size: 2vmax;
    padding: 1vmax;
    margin: 0;
    height: 100%;
    border: none;
    background-color: #8e7cc3;
    color: white;
    cursor: pointer;
}

#botonera button:hover {
    background-color: #7657a6;
}

/* Contenido */
#contenido {
    padding: 2vmax;
    font-size: 1.5vmax; /* Més petita */
    text-align: center;
    font-family: sans-serif;
    border-radius: 1vmax;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.modelos {
    display: flex;
    justify-content: center;
    gap: 4vmax;
    flex-wrap: wrap; /* Per fer-les responsives si l'espai no n’hi ha prou */
}

.modelo {
    text-align: center;
    max-width: 40vmax;
}

.modelo img {
    width: 100%;
    max-width: 100%;
    border-radius: 1vmax;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}