#superior {
    display: flex;
    height: 8vmax;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
    color: white;
    background-color: #521761;
    font-family: sans-serif;
}

/* Botonera debajo del título */
#botonera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vmax;
    background-color: #cba0f7;
}

#botonera button {
    flex: 1;
    font-size: 2vmax;
    padding: 1vmax;
    margin: 0;
    height: 100%;
    border: none;
    background-color: #8e7cc3;
    color: white;
    cursor: pointer;
}

#botonera button:hover {
    background-color: #7657a6;
}

/* Contenido */
#contenido {
    padding: 2vmax;
    font-size: 3vmax;
    text-align: center;
    font-family: sans-serif;
}